$color-black: #0e0e0e;
$color-white: #f1f1f1;
$color-dark-grey: #0e0e0e;
$color-grey: #575757;
$color-red: #f6050a;
$color-cyan: #1cf2f2;

$color-background: $color-dark-grey;
$color-text: $color-white;

$color-gradient-light: $color-grey;
$color-gradient-dark: $color-dark-grey;

$color-interlace-line: $color-black;

$color-red-shadow: $color-red;
$color-cyan-shadow: $color-cyan;
